html, body {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	font: 12px DejaVu Sans, Helvetica, Arial, Segoe UI, Droid Sans, sans-serif;
}

#main {
	width: auto;
}

h1 {
	margin: 5px;
}

#header {
	padding: 5px;
	width: 100%;
	text-align: center;
	background: -webkit-linear-gradient(bottom, #000, #AAA);
	background: -moz-linear-gradient( center bottom, rgb(0,0,0) 1%, rgb(128,128,128) 99%);
	color: #fff;
}

#content {
	width: 100%;
	text-align: center;
}

.result {
	display: inline-block;
	width: 80%;
	margin: 3px;
	padding: 2px;
	border: solid 1px #777;
	border-radius: 5px;
}

.trusted {
	background-color: rgb(160, 224, 176);
}

.remake {
	background-color: rgb(224, 144, 144);
}

.aplus {
	background-color: rgb(144, 176, 240);
}

.center {
	text-align: center;
}
