<!doctype html>	

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>		<html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>		<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable=no" />
		<link media="Screen" href="{{ static_url("css/style.css") }}" type="text/css" rel="stylesheet" />
		<link media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="{{ static_url("css/mobile.css") }}" type="text/css" rel="stylesheet" />
		<!--[if IEMobile]>
		<link rel="stylesheet" type="text/css" href="mobile.css" media="screen" />
		<![endif]-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{{ title }}</title>

		<!-- Load jQuery -->
		<script src="http://www.google.com/jsapi"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script>!window.jQuery && document.write('<script src="{{ static_url("js/jquery-1.6.4.min.js") }}"><\/script>')</script>

		<script src="{{ static_url("js/modernizr-1.5.min.js") }}"></script>

		<!-- plugins -->
		<script src="{{ static_url("js/plugins.js") }}"></script>

		<!-- main script -->
		<script src="{{ static_url("js/script.js") }}"></script>

	</head>
	<body>

		<div id="main">
			<div id="header">
				<h1>{{ page_heading }}</h1>
				<form id="searchf">
					<select id="category">
						{% for i, k in [("0_0", "All categories"),("1_0", "Anime"),("1_32", "Anime - Anime Music Video"),("1_37", "Anime - English-translated Anime"),("1_38", "Anime - Non-English-translated Anime"),("1_11", "Anime - Raw Anime"),("3_0", "Audio"),("3_14", "Audio - Lossless Audio"),("3_15", "Audio - Lossy Audio"),("2_0", "Books"),("2_12", "Books - English-scanlated Books"),("2_39", "Books - Non-English-scanlated Books"),("2_13", "Books - Raw Books"),("5_0", "Live Action"),("5_19", "Live Action - English-translated Live Action"),("5_22", "Live Action - Live Action Promotional Video"),("5_21", "Live Action - Non-English-translated Live Action"),("5_20", "Live Action - Raw Live Action"),("4_0", "Pictures"),("4_18", "Pictures - Graphics"),("4_17", "Pictures - Photos"),("6_0", "Software"),("6_23", "Software - Applications"),("6_24", "Software - Games")] %}
							<option value="{{ i }}" {% if current_category == i %} selected="selected" {% end %}>{{ k }}</option>
						{% end %}
					</select>
					<select id="filter">
						{% for i, k in [("0", "Show all"), ("1", "Filter remakes"), ("2", "Trusted only"), ("3", "A+ only")] %}
							<option value="{{ i }}" {% if current_filter == i %} selected="selected" {% end %}>{{ k }}</option>
						{% end %}
					</select>
					<input type="text" id="search" value="{{ current_search }}"/>
					<input type="submit" value="Search" />
				</form>
			</div>
			<div id="content">
				{% for result in results %}
					<div class="result {{ result['trusted'] }}">
						<div class="center"><a href="{{ result['link'] }}">{{ result['title'] }}</a></div>
						{{ result['description'] }}
					</div>
				{% end %}
			</div>
		</div><!-- end main -->

	</body>
</html>
