<!doctype html>	

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>		<html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>		<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable=no" />
		<link media="Screen" href="{{ static_url("css/style.css") }}" type="text/css" rel="stylesheet" />
		<link media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="mobile.css" type="text/css" rel="stylesheet" />
		<!--[if IEMobile]>
		<link rel="stylesheet" type="text/css" href="mobile.css" media="screen" />
		<![endif]-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{{ title }}</title>
		<script src="{{ static_url("js/modernizr-1.5.min.js") }}"></script>

		<!-- plugins -->
		<script src="{{ static_url("js/plugins.js") }}"></script>

		<!-- main script -->
		<script src="{{ static_url("js/script.js") }}"></script>

		<!-- Load jQuery -->
		<script src="http://www.google.com/jsapi"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script>!window.jQuery && document.write('<script src="{{ static_url("js/jquery-1.6.4.min.js") }}"><\/script>')</script>

	</head>
	<body>

		<div id="main">
			<div id="header">
				<h1>{{ page_heading }}</h1>
			</div>
			<div id="info">
				{{ result['title'] }}</div>
				{{ result['description'] }}
			</div>
		</div><!-- end main -->

	</body>
</html>
